<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>临时的旅游计划</title>
        <link rel="stylesheet" href="../../libs/init.css">
        <link rel="stylesheet" href="../../components/SwitchButton/SwitchButton.css">
        <link rel="stylesheet" href="./planHeader.css">
        <link rel="stylesheet" href="./planTools.css">
        <link rel="stylesheet" href="./plan.css">
        <link rel="stylesheet" href="./planSectionRight.css">
        <link rel="stylesheet" href="./planSectionTools.css">
        <script src="../../libs/dragscroll2.js"></script>
        <script src="../../libs/vue.js"></script>
    </head>
    <body>
        <div id="app" @click="appClickEvent">
            <div class="header" :style="headerStyle">
                <div class="header-trafficlight" :style="{ width: platform === 'win' ? '102px' : '80px'}">
                    <template v-if="platform === 'win'">
                        <div class="header-trafficlight-close" @click="headerTrafficlightCloseButtonClickEvent">
                            <div class="header-trafficlight-close-box"></div>
                        </div>
                        <div class="header-trafficlight-minimize" @click="headerTrafficlightMinimizeButtonClickEvent">
                            <div class="header-trafficlight-minimize-box"></div>
                        </div>
                        <div class="header-trafficlight-maximize" @click="headerTrafficlightMaximizeButtonClickEvent">
                            <div :class="isMaximize ? 'header-trafficlight-unmaximize-box' : 'header-trafficlight-maximize-box'"></div>
                        </div>
                    </template>
                </div>
                <div class="header-autosave">
                    <switch-button class="header-autosave-switch" :is-switch="autoSave" @click.native="autoSaveSwitchButtonClickEvent"></switch-button>
                    <div class="header-autosave-text">{{autoSave ? '已打开自动保存' : '已关闭自动保存'}}</div>
                </div>
                <div class="header-actions">
                    <div class="header-actions-save" title="保存"></div>
                    <div class="header-actions-mode" title="切换工具栏模式" @click="headerActionItemChangeModeButtonClickEvent"></div>
                </div>
                <div class="header-space" v-if="platform === 'win'"></div>
            </div>
            <transition name="tools">
                <div class="tools" v-if="mode===0">
            
                </div>
            </transition>
            <div class="section" ref="section" :style="{ height: mode===1 ? 'calc(100% - 40px - 1px - 1px - 30px)' : 'calc(100% - 40px - 100px - 1px - 1px - 30px)'}">
                <div class="dragscroll section-left" :style="{ width: (isAutoShowRight ? rightInfo : true) ? 'calc(100% - 240px - 1px)' : '100%' }">
                    <div class="section-canvas" :style="{ paddingLeft: mode===1 ? 'calc(30px + 50px)' : ''}">
                        <div class="section-canvas-day" 
                            v-for="(dayItem, dayIndex) in dayList" 
                            :key="dayItem.timestamp" 
                            :ref="'section-canvas-day-' + dayIndex"
                            :class="{ 'section-canvas-day-selected': dayItem.isSelected }" 
                            @click.stop="dayItemSelectedEvent(dayIndex)" 
                            @focus="dayItemSelectedEvent(dayIndex)">
                            <div class="section-canvas-day-header">
                                <div class="section-canvas-day-header-title">
                                    <div class="section-canvas-day-header-title-placeholder" v-if="!dayItem.inputTitle && (!dayItem.title || dayItem.title.length <= 0)">请输入主题</div>
                                    <div class="section-canvas-day-header-title-text" 
                                        contenteditable="plaintext-only" 
                                        :class="{ 'section-canvas-day-header-title-text-focus': dayItem.inputTitle }" 
                                        :ref="'day-item-title-input-' + dayIndex"
                                        @mousedown.stop 
                                        @focus="dayItemTitleFocusEvent(dayIndex)" 
                                        @blur="dayItemTitleBlurEvent($event, dayIndex)"></div>
                                </div>
                                <div class="section-canvas-day-header-subtitle">
                                    <div class="section-canvas-day-header-subtitle-placeholder" v-if="!dayItem.inputSubtitle && (!dayItem.subtitle || dayItem.subtitle.length <= 0)">请输入副主题</div>
                                    <div class="section-canvas-day-header-subtitle-text" 
                                        contenteditable="plaintext-only" 
                                        :class="{ 'section-canvas-day-header-subtitle-text-focus': dayItem.inputSubtitle }" 
                                        :ref="'day-item-subtitle-input-' + dayIndex"
                                        @mousedown.stop 
                                        @focus="dayItemSubtitleFocusEvent(dayIndex)" 
                                        @blur="dayItemSubtitleBlurEvent($event, dayIndex)"></div>
                                </div>
                                
                                <div class="section-canvas-day-header-desc" 
                                    v-for="(dayDescItem, dayDescIndex) in dayItem.descList" 
                                    :key="'dayItem.timestamp' + '_desc_' + dayDescItem.timestamp">
                                    <div class="section-canvas-day-header-desc-placeholder" v-if="!dayDescItem.inputDesc && (!dayDescItem.content || dayDescItem.content.length <= 0)">请输入说明</div>
                                    <div class="section-canvas-day-header-desc-text" 
                                        contenteditable="plaintext-only" 
                                        :class="{ 'section-canvas-day-header-desc-text-focus': dayDescItem.inputDesc }" 
                                        :ref="'day-item-desc-input-' + dayDescIndex"
                                        @mousedown.stop 
                                        @focus="dayItemDescItemFocusEvent(dayIndex, dayDescIndex)" 
                                        @blur="dayItemDescItemBlurEvent($event, dayIndex, dayDescIndex)"
                                        @keydown.enter.prevent="dayItemDescItemBlurEvent($event, dayIndex, dayDescIndex)"></div>
                                </div>
                                <div class="section-canvas-day-header-desc">
                                    <div class="section-canvas-day-header-desc-placeholder" v-if="!dayItem.inputDesc && (!dayItem.descContent || dayItem.descContent.length <= 0)">请输入说明</div>
                                    <div class="section-canvas-day-header-desc-text" 
                                        contenteditable="plaintext-only" 
                                        :class="{ 'section-canvas-day-header-desc-text-focus': dayItem.inputDesc }" 
                                        ref="day-item-desc-input"
                                        @mousedown.stop 
                                        @focus="dayItemDescContentFocusEvent(dayIndex)" 
                                        @blur="dayItemDescContentBlurEvent($event, dayIndex)" 
                                        @keydown.enter.prevent="dayItemDescContentEnterEvent($event, dayIndex)"></div>
                                </div>
                            </div>
                            <div class="section-canvas-day-plan" 
                                v-for="(planItem, planIndex) in dayItem.plans" 
                                :key="dayItem.timestamp + '_' + planItem.timestamp" 
                                :ref="'section-canvas-day-plan-' + dayIndex + '-' + planIndex"
                                :class="{ 'section-canvas-day-plan-some': dayItem.plans.length > 1 }">
                                <div class="section-canvas-day-plan-name" 
                                    :class="{ 'section-canvas-day-plan-name-input': planItem.inputName }" 
                                    v-if="dayItem.plans.length > 1">
                                    <input type="text" 
                                        placeholder="输入计划名称" 
                                        v-model="planItem.name" 
                                        @focus="planItem.inputName=true" 
                                        @blur="planItem.inputName=false">
                                </div>
                                <div class="section-canvas-day-plan-content">
                                    <div class="section-canvas-day-plan-content-item" 
                                        v-for="(planListItem, planListIndex) in planItem.list" 
                                        :key="dayItem.timestamp + '_' + planItem.timestamp + '_' + planListItem.timestamp" 
                                        :class="{ 'section-canvas-day-plan-content-item-edit': planListItem.isEditor }" 
                                        @click="dayPlanListItemClickEvent($event, dayIndex, planIndex, planListIndex)">
                                        <div class="section-canvas-day-plan-content-item-left">
                                            <!-- 起点 -->
                                            <template v-if="planListItem.type === 0">
                                                <div class="day-plan-list-item-start">
                                                    <div class="day-plan-list-item-start-name" :class="{ 'day-plan-list-item-start-name-focus': planListItem.inputPointName }">
                                                        <input type="text" 
                                                            v-model="planListItem.pointName" 
                                                            placeholder="集合地点" 
                                                            @click.stop 
                                                            @focus="planListItemPointNameFocusEvent(dayIndex, planIndex, planListIndex)" 
                                                            @blur="planListItem.inputPointName=false">
                                                    </div>
                                                    <div class="day-plan-list-item-start-path">
                                                        <div class="day-plan-list-item-start-path-icon"></div>
                                                        <ul class="day-plan-list-item-start-path-list">
                                                            <li class="day-plan-list-item-start-path-list-item" 
                                                                v-for="(pathItem, pathIndex) in getDayPlanPath(dayIndex, planIndex)" 
                                                                :key="dayItem.timestamp + '_' + planItem.timestamp + '_' + planListItem.timestamp + '_' + pathItem.id">
                                                                <div class="day-plan-list-item-start-path-list-item-front" v-if="pathIndex > 0"></div>
                                                                <div class="day-plan-list-item-start-path-list-item-point">{{pathItem.content}}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- 交通 -->
                                            <template v-else-if="planListItem.type === 1">
                                                <div class="day-plan-list-item-traffic">
                                                    
                                                </div>
                                            </template>
                                            <!-- 住宿 -->
                                            <template v-else-if="planListItem.type === 2">
                                                <div class="day-plan-list-item-hotel">
                                                    <div class="day-plan-list-item-hotel-icon"></div>
                                                    <div class="day-plan-list-item-hotel-right">
                                                        <div class="day-plan-list-item-hotel-default" :ref="'day-plan-list-item-hotel-default-' + dayIndex + '-' + planIndex + '-' + planListIndex">
                                                            <template v-if="!planListItem.hotal.defaultHotel">
                                                                <div class="day-plan-list-item-hotel-default-none">请从右边栏拖动住宿卡至此以添加住宿地点</div>
                                                            </template>
                                                            <template v-else>
                                                                <div class="day-plan-list-item-hotel-default-info">
                                                                    <div class="day-plan-list-item-hotel-default-info-name">{{planListItem.hotal.defaultHotel.name}}</div>
                                                                    <div class="day-plan-list-item-hotel-default-info-type">{{planListItem.hotal.defaultHotel.type}}</div>
                                                                </div>
                                                                <div class="day-plan-list-item-hotel-default-address">
                                                                    <div class="day-plan-list-item-hotel-default-address-icon"></div>
                                                                    <div class="day-plan-list-item-hotel-default-address-content">{{planListItem.hotal.defaultHotel.address.content}}</div>
                                                                </div>
                                                                <div class="day-plan-list-item-hotel-default-room">
                                                                    <div class="day-plan-list-item-hotel-default-room-header">
                                                                        <div class="day-plan-list-item-hotel-default-room-header-title">房型</div>
                                                                        <div class="day-plan-list-item-hotel-default-room-header-add" @click="planListItemHotelAddRoomButtonClickEvent(dayIndex, planIndex, planListIndex)"></div>
                                                                    </div>
                                                                    <ul class="day-plan-list-item-hotel-default-room-list">
                                                                        <li class="day-plan-list-item-hotel-default-room-list-item" v-for="roomItem in planListItem.hotal.defaultHotel.defaultRooms" :key="'room_' + roomItem.id"></li>
                                                                        <li class="day-plan-list-item-hotel-default-room-list-subtitle">备选</li>
                                                                        <li class="day-plan-list-item-hotel-default-room-list-item" v-for="roomItem in planListItem.hotal.defaultHotel.othersRooms" :key="'room_' + roomItem.id"></li>
                                                                    </ul>
                                                                </div>
                                                            </template>
                                                        </div>
                                                        <div class="day-plan-list-item-hotel-additional" v-if="planListItem.isShowAdditional">
                                                            <template>
                                                                <div>拖动至此来添加备选住宿</div>
                                                            </template>
                                                            <template>
                                                                <div class="">备选住宿</div>
                                                                <ul class="">
                                                                    <li class=""></li>
                                                                    <li class="" v-if="">拖动至此来添加备选住宿</li>
                                                                </ul>
                                                            </template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- 餐饮 -->
                                            <template v-else-if="planListItem.type === 3">
                                                <div class="day-plan-list-item-food">
                                                    
                                                </div>
                                            </template>
                                            <!-- 景点 -->
                                            <template v-else-if="planListItem.type === 4">
                                                <div class="day-plan-list-item-attraction">
                                                    
                                                </div>
                                            </template>
                                            <!-- 说明 -->
                                            <template v-else-if="planListItem.type === 5">
                                                <div class="day-plan-list-item-text" :class="{ 'day-plan-list-item-text-focus': planListItem.inputContent }">
                                                    <div class="day-plan-list-item-text-placeholder"></div>
                                                    <div class="day-plan-list-item-text-input" 
                                                        contenteditable="plaintext-only" 
                                                        :ref="'day-plan-list-item-text-input-' + planListIndex"
                                                        @mousedown.stop 
                                                        @click.stop
                                                        @focus="dayPlanListItemTextFocusEvent(dayIndex, planIndex, planListIndex)" 
                                                        @blur="dayPlanListItemTextBlurEvent($event, dayIndex, planIndex, planListIndex)"></div>
                                                </div>
                                            </template>
                                            <!-- 图片 -->
                                            <template v-else-if="planListItem.type === 6">
                                                <div class="day-plan-list-item-image">
                                                    
                                                </div>
                                            </template>
                                            <!-- 清单 -->
                                            <template v-else-if="planListItem.type === 7">
                                                <div class="day-plan-list-item-list">
                                                    
                                                </div>
                                            </template>
                                        </div>
                                        <div class="section-canvas-day-plan-content-item-right">
                                            <div class="section-canvas-day-plan-content-item-right-add"></div>
                                            <div class="section-canvas-day-plan-content-item-right-more"></div>
                                            <div class="section-canvas-day-plan-content-item-right-move"></div>
                                        </div>
                                    </div>
                                    <div class="section-canvas-day-plan-content-new">
                                        <div class="section-canvas-day-plan-content-new-start" @click="createAPlanListItem(dayIndex, planIndex, 0)"></div>
                                        <div class="section-canvas-day-plan-content-new-traffic" @click.stop="createAPlanListItem(dayIndex, planIndex, 1)"></div>
                                        <div class="section-canvas-day-plan-content-new-hotel" @click.stop="createAPlanListItem(dayIndex, planIndex, 2)"></div>
                                        <div class="section-canvas-day-plan-content-new-food" @click="createAPlanListItem(dayIndex, planIndex, 3)"></div>
                                        <div class="section-canvas-day-plan-content-new-attraction" @click="createAPlanListItem(dayIndex, planIndex, 4)"></div>
                                        <div class="section-canvas-day-plan-content-new-text" @click.stop="createAPlanListItem(dayIndex, planIndex, 5)"></div>
                                        <div class="section-canvas-day-plan-content-new-image" @click="createAPlanListItem(dayIndex, planIndex, 6)"></div>
                                        <div class="section-canvas-day-plan-content-new-list" @click="createAPlanListItem(dayIndex, planIndex, 7)"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-canvas-day-plan-new">

                            </div>
                        </div>
                        <div class="section-canvas-day">
                            <div class=""></div>
                        </div>
                    </div>
                    <transition name="section-tools">
                        <div class="section-tools" v-if="mode===1">

                        </div>
                    </transition>
                </div>
                <transition name="section-right">
                    <div class="section-right" 
                        v-if="isAutoShowRight ? rightInfo : true" 
                        @click.stop 
                        @mousedown.stop 
                        @mousemove.stop 
                        @mouseup.stop>
                        <div class="section-right-header">
                            <div class="section-right-header-title">右边栏</div>
                            <div class="section-right-header-actions">
                                <div :class="isAutoShowRight ? 'section-right-header-actions-autoshow' : 'section-right-header-actions-show'" :title="isAutoShowRight ? '当前为自动显示右边栏' : '当前为始终显示右边栏'" @click="sectionRightHeaderActionAutoShowButtonClick"></div>
                            </div>
                        </div>
                        <div class="section-right-content">
                            <!-- 无 -->
                            <template v-if="!rightInfo">
                                <div class="section-right-content-info">
                                    <div class="section-right-content-info-name" :class="{ 'section-right-content-info-name-focus': planInfo.inputName }">
                                        <div class="section-right-content-info-name-placeholder" v-if="!planInfo.inputName && (!planInfo.name || planInfo.name.length <= 0)">请输入旅行计划的名字</div>
                                        <div class="section-right-content-info-name-text" 
                                            contenteditable="plaintext-only" 
                                            :ref="'section-right-content-info-name'"
                                            @mousedown.stop 
                                            @focus="planInfoNameFocusEvent()" 
                                            @blur="planInfoNameBlurEvent($event)" 
                                            @keydown.enter.prevent="planInfoNameEnterEvent($event)"></div>
                                    </div>
                                    <div class="section-right-content-info-desc" :class="{ 'section-right-content-info-desc-focus': planInfo.inputDesc }">
                                        <div class="section-right-content-info-desc-placeholder" v-if="!planInfo.inputDesc && (!planInfo.desc || planInfo.desc.length <= 0)">旅行计划的简介</div>
                                        <div class="section-right-content-info-desc-text" 
                                            contenteditable="plaintext-only" 
                                            :ref="'section-right-content-info-desc'"
                                            @mousedown.stop 
                                            @focus="planInfoDescFocusEvent()" 
                                            @blur="planInfoDescBlurEvent($event)"></div>
                                    </div>
                                    <div class="section-right-content-info-line"></div>
                                    <div class="section-right-content-info-count">
                                        <div class="section-right-content-info-count-title">天数</div>
                                        <div class="section-right-content-info-count-content">
                                            <div class="section-right-content-info-count-content-num">{{planInfo.numberOfDays}}</div>
                                            <div class="section-right-content-info-count-content-actions">
                                                <div class="section-right-content-info-count-content-actions-less">-</div>
                                                <div class="section-right-content-info-count-content-actions-plus">+</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-right-content-info-date">
                                        <div class="section-right-content-info-date-title">开始时间</div>
                                        <div class="section-right-content-info-date-content">
                                            <div class="section-right-content-info-date-content-show">{{planInfo.startDateShow}}</div>
                                            <div class="section-right-content-info-date-content-choose">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-right-content-info-date">
                                        <div class="section-right-content-info-date-title">结束时间</div>
                                        <div class="section-right-content-info-date-content">
                                            <div class="section-right-content-info-date-content-show">{{planInfo.endDateShow}}</div>
                                            <div class="section-right-content-info-date-content-choose">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-right-content-info-line"></div>
                                    <div class="section-right-content-info-count">
                                        <div class="section-right-content-info-count-title">人数</div>
                                        <div class="section-right-content-info-count-content">
                                            <div class="section-right-content-info-count-content-num">{{planInfo.numberOfPeople}}</div>
                                            <div class="section-right-content-info-count-content-actions">
                                                <div class="section-right-content-info-count-content-actions-less">-</div>
                                                <div class="section-right-content-info-count-content-actions-plus">+</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-right-content-info-categorylist">
                                        <div class="section-right-content-info-categorylist-title">人员</div>
                                    </div>
                                    <div class="section-right-content-info-categorylist">
                                        <div class="section-right-content-info-categorylist-title">未定人员</div>
                                    </div>
                                </div>
                            </template>
                            <!-- 交通卡 -->
                            <template v-else-if="rightInfo.type===1">
                                <div>
                                    
                                </div>
                            </template>
                            <!-- 住宿卡 -->
                            <template v-else-if="rightInfo.type===2">
                                <div class="section-right-content-hotel">
                                    <div class="section-right-content-hotel-header">
                                        <div class="section-right-content-hotel-header-title">住宿卡</div>
                                        <div contenteditable='false' class="section-right-content-hotel-header-action">
                                            <div class="section-right-content-hotel-header-action-filter" @click="rightInfo.isShowFilter=!rightInfo.isShowFilter"></div>
                                            <div class="section-right-content-hotel-header-action-add" @click="sectionRightHotelHeaderAddButtonClickEvent"></div>
                                        </div>
                                    </div>
                                    <div class="section-right-content-hotel-search">
                                        <div class="section-right-content-hotel-search-bar" :style="{ backgroundColor: rightInfo.isInputSearch ? 'white' : '#F9F9F9' }">
                                            <input type="text" 
                                                placeholder="搜索" 
                                                v-model="rightInfo.searchContent" 
                                                @focus="rightInfo.isInputSearch=true" 
                                                @blur="rightInfo.isInputSearch=false">
                                            <div class="section-right-content-hotel-search-bar-cancel" v-if="rightInfo.searchContent.length > 0" @click="rightInfo.searchContent=''"></div>
                                        </div>
                                    </div>
                                    <div class="section-right-content-hotel-filter" v-if="rightInfo.isShowFilter">
                                        <div class="section-right-content-hotel-filter-picker">
                                            <div class="section-right-content-hotel-filter-picker-title">位置</div>
                                            <div class="section-right-content-hotel-filter-picker-list">
                                                <div class="section-right-content-hotel-filter-picker-list-item">国家</div>
                                                <div class="section-right-content-hotel-filter-picker-list-item">省份</div>
                                                <div class="section-right-content-hotel-filter-picker-list-item">城市</div>
                                            </div>
                                        </div>
                                        <div class="section-right-content-hotel-filter-choose">
                                            <div class="section-right-content-hotel-filter-choose-title">类型</div>
                                            <ul class="section-right-content-hotel-filter-choose-list">
                                                <li class="section-right-content-hotel-filter-choose-list-item"></li>
                                            </ul>
                                        </div>
                                        <div class="section-right-content-hotel-filter-choose">
                                            <div class="section-right-content-hotel-filter-choose-title">标签</div>
                                            <ul class="section-right-content-hotel-filter-choose-list">
                                                <li class="section-right-content-hotel-filter-choose-list-item"></li>
                                            </ul>
                                        </div>
                                        <div class="section-right-content-hotel-filter-choose">
                                            <div class="section-right-content-hotel-filter-choose-title">分组</div>
                                            <ul class="section-right-content-hotel-filter-choose-list">
                                                <li class="section-right-content-hotel-filter-choose-list-item"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <ul class="section-right-content-hotel-list">
                                        <li class="section-right-content-hotel-list-item" 
                                            v-for="(hotelCardItem, hotelCardIndex) in hotelCardList" :key="'hotel_card_item_' + hotelCardItem._id"
                                            @mousedown.stop='sectionRightHotelItemMousedownEvent($event, hotelCardIndex)'>
                                            <div class="section-right-content-hotel-list-item-info">
                                                <div class="section-right-content-hotel-list-item-info-name">{{hotelCardItem.name}}</div>
                                                <div class="section-right-content-hotel-list-item-info-type">{{hotelCardItem.type}}</div>
                                                <div class="section-right-content-hotel-list-item-info-tags">
                                                    <div class="section-right-content-hotel-list-item-info-tags-item" v-for="hotelCardTagItem in hotelCardItem.tags">{{hotelCardTagItem}}</div>
                                                </div>
                                                <div class="section-right-content-hotel-list-item-info-address">
                                                    <div class="section-right-content-hotel-list-item-info-address-icon"></div>
                                                    <div class="section-right-content-hotel-list-item-info-address-content">{{hotelCardItem.address.content}}</div>
                                                </div>
                                                <div class="section-right-content-hotel-list-item-info-edit" title="编辑住宿卡"></div>
                                            </div>
                                            <div class="section-right-content-hotel-list-item-rooms">
                                                <div class="section-right-content-hotel-list-item-rooms-header">
                                                    <div class="section-right-content-hotel-list-item-rooms-header-title">房型</div>
                                                    <div class="section-right-content-hotel-list-item-rooms-header-show" 
                                                        title="显示所有房型" 
                                                        @mousedown.stop 
                                                        @mouseup.stop
                                                        @click.stop="sectionRightHotelCardItemShowButtonClickEvent(hotelCardIndex)">{{hotelCardItem.isShowRooms ? '收起' : '展开'}}</div>
                                                </div>
                                                <ul class="section-right-content-hotel-list-item-rooms-list" v-if="hotelCardItem.isShowRooms">
                                                    <li class="section-right-content-hotel-list-item-rooms-list-item" 
                                                        v-for="(roomItem, roomIndex) in hotelCardItem.rooms" 
                                                        :key="'hotel_card_item_' + hotelCardItem._id + '_room_' + roomItem.id">
                                                        <div class="section-right-content-hotel-list-item-rooms-list-item-info">
                                                            <div class="section-right-content-hotel-list-item-rooms-list-item-info-name">{{roomItem.roomType}}</div>
                                                            <div :class="roomItem.isShow ? 'section-right-content-hotel-list-item-rooms-list-item-info-more-show' : 'section-right-content-hotel-list-item-rooms-list-item-info-more'" 
                                                                title="更多信息" 
                                                                @mousedown.stop 
                                                                @mouseup.stop
                                                                @click.stop="sectionRightHotelCardItemRoomItemShowButtonClickEvent(hotelCardIndex, roomIndex)"></div>
                                                        </div>
                                                        <div class="section-right-content-hotel-list-item-rooms-list-item-more" v-if="roomItem.isShow">
                                                            <div class="section-right-content-hotel-list-item-rooms-list-item-more-text">房间大小: {{roomItem.squareMeter}}㎡</div>
                                                            <div class="section-right-content-hotel-list-item-rooms-list-item-more-text">可住人数: {{roomItem.numberOfPeopleAvailable.adult}}名成年人{{roomItem.numberOfPeopleAvailable.child > 0 ? '， ' + roomItem.numberOfPeopleAvailable.child + '名儿童' : ''}}{{roomItem.numberOfPeopleAvailable.canExtraBed ? '（可加床）' : '（不可加床）'}}</div>
                                                            <div class="section-right-content-hotel-list-item-rooms-list-item-more-text">床型说明: {{roomItem.bedType}}</div>
                                                            <div class="section-right-content-hotel-list-item-rooms-list-item-more-text">房间窗户: {{roomItem.windowTyps}}</div>
                                                            <div class="section-right-content-hotel-list-item-rooms-list-item-more-text">{{roomItem.nonsmoking ? '房间禁烟' : '房间可以吸烟'}}</div>
                                                            <div class="section-right-content-hotel-list-item-rooms-list-item-more-text" v-if="roomItem.roomDesc && roomItem.roomDesc.length > 0">房间说明: {{roomItem.roomDesc}}</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </template>
                            <!-- 餐饮卡 -->
                            <template v-else-if="rightInfo.type===2">
                                <div>
                                    
                                </div>
                            </template>
                            <!-- 景点卡 -->
                            <template v-else-if="rightInfo.type===2">
                                <div>
                                    
                                </div>
                            </template>
                        </div>
                    </div>
                </transition>
            </div>
            <div class="footer">

            </div>
            <div class="moving-card-background" 
                v-if="isTouchedACard" 
                @mousemove.stop="movingCardCoverViewMousemoveEvent($event)" 
                @mouseup.stop="movingCardCoverViewMouseupEvent($event)">
                <div class="moving-card" 
                    :style="{ top: (movingCard.y - 20) + 'px', left: (movingCard.x - 100) + 'px' }" 
                    @click.stop 
                    @mousedown.stop>{{movingCard.content}}</div>
            </div>

            <div class="cover-view" v-if="isShowCoverView" @mousemove.stop @mouseup.stop @mousedown.stop @click.stop></div>
        </div>

        <!-- SwitchButton -->
        <template id="switch-button">
            <div class="switch-button" :class="{ 'switch-button-selected': isSwitch }">
                <div class="switch-button-ball" :class="{ 'switch-button-ball-selected ': isSwitch }"></div>
            </div>
        </template>
        <script src="../../components/SwitchButton/SwitchButton.js"></script>
        <script>
            require('./plan.js');
        </script>
    </body>
</html>
