html, body {
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
}


/* 内容 */
.section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-left {
    width: 100%;
    height: 100%;
    overflow: scroll;
    transition: all 0.5s linear;
}

.section-canvas {
    display: flex;
    flex-direction: row;
    transition: all 0.5s linear;
}


/* 天 */
.section-canvas-day {
    width: calc(500px - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px dashed lightgray;
    flex-shrink: 0;
}

.section-canvas-day-selected {
    border-right: 1px dashed lightskyblue;
}

/* 天 > 头部 */
.section-canvas-day-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* 天 > 头部 > 标题 */
.section-canvas-day-header-title {
    width: 100%;
}

.section-canvas-day-header-title-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: lightgray;
}

.section-canvas-day-header-title-text {
    width: 100%;
    min-height: 45px;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    border: 1px solid transparent;
}

.section-canvas-day-header-title-text-focus {
    border: 1px solid lightgray;
}

/* 天 > 头部 > 副标题 */
.section-canvas-day-header-subtitle {
    width: 100%;
    margin-top: 10px;
}

.section-canvas-day-header-subtitle-placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: lightgray;
}

.section-canvas-day-header-subtitle-text {
    width: 100%;
    min-height: 30px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #555555;
    border: 1px solid transparent;
}

.section-canvas-day-header-subtitle-text-focus {
    border: 1px solid lightgray;
}

/* 天 > 头部 > 说明 */
.section-canvas-day-header-desc {
    width: 100%;
    margin-top: 10px;
}

.section-canvas-day-header-desc-placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
    text-indent: 2;
    color: lightgray;
}

.section-canvas-day-header-desc-text {
    width: 100%;
    min-height: 21x;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
    text-indent: 2;
    color: #888888;
    border: 1px solid transparent;
}

.section-canvas-day-header-desc-text-focus {
    border: 1px solid lightgray;
}




/* 天 > 计划 */
.section-canvas-day-plan {
    width: calc(100% - 2px - 20px);
    border: 1px solid transparent;
    padding: 10px;
}

.section-canvas-day-plan-some {
    border-radius: 4px;
    border: 1px solid lightskyblue;
}

.section-canvas-day-plan-name {
    width: calc(100% - 2px);
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.section-canvas-day-plan-name-input {
    border: 1px solid lightgray;
}

.section-canvas-day-plan-name-input input {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.section-canvas-day-plan-content {
    width: 100%;
}

.section-canvas-day-plan-content-item {
    width: calc(100% - 5px);
    padding: 5px 0;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-canvas-day-plan-content-item-edit {
    background-color: #F5F5F5;
    border-radius: 4px;
}

.section-canvas-day-plan-content-item:hover {
    background-color: #F5F5F5;
    border-radius: 4px;
}

.section-canvas-day-plan-content-item:hover .section-canvas-day-plan-content-item-right {
    display: flex;
}

.section-canvas-day-plan-content-item-left {
    width: calc(100% - 22px - 5px - 24px - 24px - 1px);
}


/* 天 > 计划 > 项 - 起点 */
.day-plan-list-item-start {
    width: 100%;
}

.day-plan-list-item-start .day-plan-list-item-start-name {
    width: calc(100% - 2px);
    border: 1px solid transparent;
}

.day-plan-list-item-start .day-plan-list-item-start-name-focus {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
}

.day-plan-list-item-start .day-plan-list-item-start-name > input {
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}

.day-plan-list-item-start .day-plan-list-item-start-path {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.day-plan-list-item-start .day-plan-list-item-start-path-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url(../../assets/plan_path_icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.day-plan-list-item-start .day-plan-list-item-start-path-list {
    width: calc(100% - 20px - 5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.day-plan-list-item-start .day-plan-list-item-start-path-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day-plan-list-item-start .day-plan-list-item-start-path-list-item-front {
    width: 15px;
    height: 2px;
    background-color: lightskyblue;
}

.day-plan-list-item-start .day-plan-list-item-start-path-list-item-point {
    font-size: 14px;
    color: #888888;
    line-height: 1.5;
    font-weight: 300;
}


/* 天 > 计划 > 项 - 交通 */
.day-plan-list-item-traffic {

}


/* 天 > 计划 > 项 - 住宿 */
.day-plan-list-item-hotel {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.day-plan-list-item-hotel-icon {
    margin-top: 3px;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/plan_list_item_new_hotel.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
}

.day-plan-list-item-hotel-right {
    width: calc(100% - 20px - 5px);
}

.day-plan-list-item-hotel-default {
    width: 100%;
}

.day-plan-list-item-hotel-default-none {
    color: lightgray;
    font-size: 14px;
    font-weight: 300px;
    line-height: 26px;
    width: 100%;
}

.day-plan-list-item-hotel-default-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-plan-list-item-hotel-default-info-name {
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    width: calc(100% - 62px);
}

.day-plan-list-item-hotel-default-info-type {
    font-size: 12px;
    color: dodgerblue;
    line-height: 1;
    margin-top: 5px;
    width: 60px;
}

.day-plan-list-item-hotel-default-address {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.day-plan-list-item-hotel-default-address-icon {
    width: 20px;
    height: 20px;
    background-image: url(../../assets/address_icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 4px;
}

.day-plan-list-item-hotel-default-address-content {
    width: calc(100% - 24px);
    font-size: 14px;
    font-weight: 300;
    color: #999999;
    line-height: 1.5;
}

.day-plan-list-item-hotel-default-room {
    width: 100%;
    margin-top: 5px;
}

.day-plan-list-item-hotel-default-room-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
}

.day-plan-list-item-hotel-default-room-header-title {
    font-size: 14px;
    line-height: 1;
}

.day-plan-list-item-hotel-default-room-header-add {
    display: none;
    width: 14px;
    height: 14px;
    background-image: url(../../assets/right_sidebar_add.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.day-plan-list-item-hotel-default-room-header:hover .day-plan-list-item-hotel-default-room-header-add {
    display: block;
}   

.day-plan-list-item-hotel-default-room-list {
    width: calc(1005 - 15px);
    margin-left: 15px;
}

.day-plan-list-item-hotel-default-room-list-item {

}

.day-plan-list-item-hotel-default-room-list-subtitle {

}

.day-plan-list-item-hotel-default-room-list-item {

}

.day-plan-list-item-hotel-additional {

}



/* 天 > 计划 > 项 - 美食 */
.day-plan-list-item-food {

}

.day-plan-list-item-attraction {

}


/* 天 > 计划 > 项 - 说明 */
.day-plan-list-item-text {
    width: calc(100% - 2px);
    border: 1px solid transparent;
}

.day-plan-list-item-text-focus {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
}

.day-plan-list-item-text-placeholder {
    font-size: 18px;
    font-weight: 300;
    color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
}

.day-plan-list-item-text-input {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    line-height: 1.5;
}


.day-plan-list-item-image {

}

.day-plan-list-item-list {

}

.section-canvas-day-plan-content-item-right {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.section-canvas-day-plan-content-item-right-add {
    width: 18px;
    height: 18px;
    padding: 2px;
    background-origin: content-box;
    background-image: url(../../assets/plan_list_item_add.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
    cursor: pointer;
}

.section-canvas-day-plan-content-item-right-more {
    width: 20px;
    height: 20px;
    padding: 2px;
    background-origin: content-box;
    background-image: url(../../assets/plan_list_item_more.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.section-canvas-day-plan-content-item-right-move {
    width: 20px;
    height: 20px;
    padding: 2px;
    background-origin: content-box;
    background-image: url(../../assets/plan_list_item_move.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}


/* 创建一条新的计划项 */
.section-canvas-day-plan-content-new {
    margin-top: 10px;
    width: calc(100% - 10px);
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.section-canvas-day-plan-content-new:hover {
    background-color: #F5F5F5;
    border-radius: 4px;
    border-bottom: 1px solid transparent;
}

.section-canvas-day-plan-content-new-start {
    width: 24px;
    height: 24px;
    padding: 1px;
    background-image: url(../../assets/plan_list_item_new_start.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-start:hover {
    background-image: url(../../assets/plan_list_item_new_start_hover.png);
}

.section-canvas-day-plan-content-new-traffic {
    width: 24px;
    height: 24px;
    padding: 1px;
    background-image: url(../../assets/plan_list_item_new_traffic.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-traffic:hover {
    background-image: url(../../assets/plan_list_item_new_traffic_hover.png);
}

.section-canvas-day-plan-content-new-hotel {
    width: 22px;
    height: 22px;
    padding: 2px;
    background-image: url(../../assets/plan_list_item_new_hotel.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-hotel:hover {
    background-image: url(../../assets/plan_list_item_new_hotel_hover.png);
}

.section-canvas-day-plan-content-new-food {
    width: 26px;
    height: 26px;
    background-image: url(../../assets/plan_list_item_new_food.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-food:hover {
    background-image: url(../../assets/plan_list_item_new_food_hover.png);
}

.section-canvas-day-plan-content-new-attraction {
    width: 26px;
    height: 26px;
    background-image: url(../../assets/plan_list_item_new_attraction.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-attraction:hover {
    background-image: url(../../assets/plan_list_item_new_attraction_hover.png);
}

.section-canvas-day-plan-content-new-text {
    width: 26px;
    height: 26px;
    background-image: url(../../assets/plan_list_item_new_text.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-text:hover {
    background-image: url(../../assets/plan_list_item_new_text_hover.png);
}

.section-canvas-day-plan-content-new-image {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-image: url(../../assets/plan_list_item_new_image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-image:hover {
    background-image: url(../../assets/plan_list_item_new_image_hover.png);
}

.section-canvas-day-plan-content-new-list {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-image: url(../../assets/plan_list_item_new_list.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    cursor: pointer;
}

.section-canvas-day-plan-content-new-list:hover {
    background-image: url(../../assets/plan_list_item_new_list_hover.png);
}

.section-canvas-day-plan-new {

}













/* 底部 */
.footer {
    width: 100%;
    height: 30px;
    border-top: 1px solid lightgray;
}


.moving-card-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.moving-card {
    position: fixed;
    background-color: white;
    width: 200px;
    padding: 5px 10px;
    opacity: 0.8;
    font-size: 12px;
    line-height: 30px;
    color: #666666;
    border: 1px solid lightgray;
}


.cover-view {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 999;
}