
.section-tools {
    position: fixed;
    left: 30px;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    top: 80px;
    background-color: #F2F2F2;
    height: calc(100% - 80px - 75px);
}

.section-tools-enter-active, .section-tools-leave-active {
    transition: left 0.5s linear;
}
.section-tools-enter, .section-tools-leave-to {
    left: -60px;
}
