.modal {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.35);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modal-view {
        padding: 20px;
        background-color: rgb(51, 51, 51);
        border-radius: 4px;

        .modal-view-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal-view-content-icon {
                width: 24px;
                height: 24px;
                background-image: url(../../assets/info_tips_white.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                flex-shrink: 0;
            }

            .modal-view-content-text {
                width: calc(100% - 24px - 10px);
                flex-shrink: 0;
                max-width: 500px;

                .modal-view-content-text-title {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    color: white;
                }

                .modal-view-content-text-content {
                    font-size: 14px;
                    color: rgb(173, 173, 173);
                    line-height: 1.4;
                    margin-top: 10px;
                }
            }
        }

        .modal-view-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-top: 15px;

            .modal-view-actions-cancel {
                padding: 4px 20px;
                border: 1px solid rgb(200, 200, 200);
                line-height: 18px;
                font-size: 16px;
                text-align: center;
                margin-right: 20px;
                color: rgb(200, 200, 200);
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(200, 200, 200);
                    color: black;
                }
            }

            .modal-view-actions-confirm  {
                padding: 4px 20px;
                border: 1px solid rgb(200, 200, 200);
                line-height: 18px;
                font-size: 16px;
                text-align: center;
                color: rgb(200, 200, 200);
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(200, 200, 200);
                    color: black;
                }
            }
        }
    }
}