.git {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .git-section {
        margin: 10px 20px;
        // padding: 0 20px;
        width: calc(100% - 40px);
        border-top: 1px solid rgb(51, 51, 51);
        border-bottom: 1px solid rgb(51, 51, 51);

        .git-section-header {
            padding: 10px 10px;
            width: calc(100% - 20px);
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            .git-section-header-icon {
                width: 16px;
                height: 16px;
                background-image: url(../../../../assets/drop_down_ADADAD.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            .git-section-header-title {
                font-size: 16px;
                color: rgb(173, 173, 173);
                line-height: 1;
                margin-left: 8px;
            }

            &:hover {
                background-color: rgb(51, 51, 51);

                .git-section-header-icon {
                    background-image: url(../../../../assets/drop_down_white.svg);
                }

                .git-section-header-title {
                    color: white;
                }
            }
        }

        .git-section-header-hide {

            .git-section-header-icon {
                transform: rotate(-90deg);
            }

            .git-section-header-title {
                
            }
        }

        .git-section-content {
            width: calc(100% - 30px);
            margin-left: 30px;
            transition: height 0.5s, opacity 0.5s;
            overflow: hidden;

            .git-section-content-ui-account {
                margin-top: 10px;
                margin-left: 30px;
                width: calc(100% - 30px - 20px);
                padding: 10px;
                background-color: rgb(51, 51, 51);
                border-radius: 4px;

                .git-section-content-ui-account-desc {
                    font-size: 12px;
                    color: rgb(173, 173, 173);
                    line-height: 1;
                }

                .git-section-content-ui-account-item {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;

                    .git-section-content-ui-account-item-title {
                        width: 70px;
                        font-size: 14px;
                        color: rgb(173, 173, 173);
                        line-height: 1;
                        text-align: right;
                    }

                    .git-section-content-ui-account-item-input {
                        width: calc(100% - 80px - 20px);
                        height: 30px;
                        border: 1px solid rgb(173, 173, 173);
                        border-radius: 4px;
                        background-color: rgb(200, 200, 200);
                        padding: 0 10px;

                        input {
                            background-color: transparent;
                            width: 100%;
                            height: 100%;
                            font-size: 14px;
                            color: black;
                            line-height: 1;
                        }
                    }
                }
            }
            
            .git-section-content-ui-account-disable {

                .git-section-content-ui-account-desc {

                }

                .git-section-content-ui-account-item {

                    .git-section-content-ui-account-item-title {

                    }

                    .git-section-content-ui-account-item-input {

                        input {
                            color: rgb(173, 173, 173);
                        }
                    }
                }
            }
        }
    }
}