$main-color: #FF6F61;
$main-color-hover: #E94B3C;

$secondary-color: lightskyblue;
$secondary-color-hover: dodgerblue;

@mixin main-button {
    width: 100px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px;
    background-color: $main-color;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: $main-color-hover;
    }
}

@mixin secondary-button {
    width: 100px;
    padding: 0 9px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid $main-color;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: $main-color-hover;
        border: 1px solid $main-color-hover;
    }
}