.ghsi {
    width: 100%;
    height: calc(100% - 40px);
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .ghsi-content {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;

        .ghsi-content-header {
            padding: 5px 0;
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgb(173, 173, 173);
            margin-bottom: 5px;

            .ghsi-content-header-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
                max-width: calc(100% - 35px);

                .ghsi-content-header-list-item {
                    font-size: 16px;
                    line-height: 30px;
                    color: rgb(173, 173, 173);
                    padding: 0 5px;
                    cursor: pointer;
                    flex-shrink: 0;

                    &:hover {
                        color: white;
                    }
                }

                .ghsi-content-header-list-item-selected {
                    color: white;
                }

                .ghsi-content-header-list-line {
                    width: 1px;
                    height: 15px;
                    background-color: rgb(173, 173, 173);
                }
            }

            .ghsi-content-header-actions {
                display: flex;
                flex-direction: row;
                align-items: center;

                .ghsi-content-header-actions-scrolltop {
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    background-image: url(../../../../../assets/top_ADADAD.svg);
                    background-repeat: no-repeat;
                    background-size: 150% 150%;
                    background-position: center;
                    cursor: pointer;
                    margin-right: 8px;
    
                    &:hover {
                        background-image: url(../../../../../assets/top_white.svg);
                    }
                }

                .ghsi-content-header-actions-refresh {
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    background-image: url(../../../../../assets/refresh_ADADAD.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    cursor: pointer;
    
                    &:hover {
                        background-image: url(../../../../../assets/refresh_white.svg);
                    }
                }
            }
        }

        .ghsi-content-loading {
            width: 100%;
            height: calc(80% - 40px);
            min-height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .ghsi-content-timeline {
            width: 100%;
            height: calc(80% - 40px);
            min-height: 400px;
            overflow: hidden;

            .ghsi-content-timeline-item {
                width: 100%;

                .ghsi-content-timeline-item-view {
                    width: calc(100% - 20px);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px 10px;
                    padding-bottom: 0;

                    .ghsi-content-timeline-item-view-avatar {
                        width: 30px;
                        height: 30px;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        border-radius: 2px;
                    }

                    .ghsi-content-timeline-item-view-content {
                        width: calc(100% - 40px);
                        padding-bottom: 10px;
                        border-bottom: 1px solid rgb(173, 173, 173);

                        .ghsi-content-timeline-item-view-content-name {
                            font-size: 14px;
                            color: rgb(173, 173, 173);
                            line-height: 1.5;
                            width: fit-content;
                            text-align: left;
                            cursor: pointer;

                            &:hover {
                                color: white;
                            }
                        }

                        .ghsi-content-timeline-item-view-content-title {
                            font-size: 16px;
                            font-weight: 500;
                            color: rgb(200, 200, 200);
                            line-height: 1.3;
                            width: fit-content;
                            text-align: left;
                            cursor: pointer;
                        }

                        .ghsi-content-timeline-item-view-content-time {
                            font-size: 12px;
                            color: rgb(173, 173, 173);
                            line-height: 1.5;
                            width: fit-content;
                            text-align: left;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .ghsi-content-timeline-loading {
                width: 100%;
                height: 40px;
            }
        }

        .ghsi-content-stars {
            width: 100%;
            height: calc(80% - 40px);
            min-height: 400px;
            overflow: hidden;

            .ghsi-content-stars-item {
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid rgb(173, 173, 173);
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .ghsi-content-stars-item-index {
                    width: 50px;
                    padding: 5px 0;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 1;
                    color: rgb(173, 173, 173);
                }

                .ghsi-content-stars-item-view {
                    width: calc(100% - 55px);

                    .ghsi-content-stars-item-view-name {
                        color: rgb(200, 200, 200);
                        font-size: 20px;
                        line-height: 1.5;
                        cursor: pointer;
                        width: fit-content;
    
                        &:hover {
                            color: white;
                        }
                    }
    
                    .ghsi-content-stars-item-view-desc {
                        color: rgb(173, 173, 173);
                        font-size: 14px;
                        line-height: 1.2;
                    }
    
                    .ghsi-content-stars-item-view-language {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 12px 0;
                        cursor: pointer;
                        width: fit-content;
    
                        .ghsi-content-stars-item-view-language-icon {
                            width: 16px;
                            height: 16px;
                            margin-right: 5px;
                            background-image: url(../../../../../assets/language_ADADAD.svg);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }
    
                        .ghsi-content-stars-item-view-language-text {
                            font-size: 14px;
                            color: rgb(173, 173, 173);
                            line-height: 16px;
                        }
    
                        &:hover {
                            .ghsi-content-stars-item-view-language-icon {
                                background-image: url(../../../../../assets/language_white.svg);
                            }
    
                            .ghsi-content-stars-item-view-language-text {
                                color: white;
                            }
                        }
                    }
    
                    .ghsi-content-stars-item-view-info {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
    
                        .ghsi-content-stars-item-view-info-item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-right: 20px;
    
                            .ghsi-content-stars-item-view-info-item-icon {
                                width: 14px;
                                height: 14px;
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                margin-right: 5px;
                            }
    
                            .ghsi-content-stars-item-view-info-item-icon-watchers {
                                background-image: url(../../../../../assets/watch_ADADAD.svg);
                            }
    
                            .ghsi-content-stars-item-view-info-item-icon-stars {
                                background-image: url(../../../../../assets/star_ADADAD.svg);
                            }
    
                            .ghsi-content-stars-item-view-info-item-icon-forks {
                                background-image: url(../../../../../assets/fork_ADADAD.svg);
                            }
    
                            .ghsi-content-stars-item-view-info-item-count {
                                font-size: 12px;
                                color: rgb(173, 173, 173);
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }

        .ghsi-content-topics {
            width: 100%;
            height: calc(80% - 40px);
            min-height: 400px;
            overflow: hidden;

            .ghsi-content-topics-item {
                width: 100%;
                padding: 15px 0;
                border-bottom: 1px solid rgb(173, 173, 173);

                .ghsi-content-topics-item-name {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;

                    .ghsi-content-topics-item-name-front {
                        width: 16px;
                        font-size: 26px;
                        font-weight: 500;
                        color: rgb(173, 173, 173);
                        line-height: 1;
                        margin-right: 4px;
                    }

                    .ghsi-content-topics-item-name-text {
                        max-width: calc(100% - 16px - 4px);
                        font-size: 20px;
                        font-weight: 500;
                        color: rgb(173, 173, 173);
                        line-height: 1;
                        line-height: 26px;
                    }

                    &:hover {
                        .ghsi-content-topics-item-name-front {
                            color: white;
                        }
                        .ghsi-content-topics-item-name-text {
                            color: white;
                        }
                    }
                }

                .ghsi-content-topics-item-desc {
                    margin-top: 5px;
                    font-size: 14px;
                    color: rgb(173, 173, 173);
                    line-height: 1.2;
                }
            }
        }
    }
    
    .ghsi-line {
        width: 1px;
        height: 60%;
        background-color: rgb(173, 173, 173);
        margin: 0 70px;
    }
    
    .ghsi-signin {
        width: 30%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .ghsi-signin-header {
            font-size: 26px;
            color: white;
            line-height: 1;
            margin-bottom: 30px;
        }

        .ghsi-signin-item {
            width: 100%;
            margin-bottom: 20px;

            .ghsi-signin-item-title {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                .ghsi-signin-item-title-text {
                    font-size: 18px;
                    color: rgb(173, 173, 173);
                    line-height: 1;
                }

                .ghsi-signin-item-title-help {
                    width: 16px;
                    height: 16px;
                    background-image: url(../../../../../assets/help_ADADAD.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    cursor: pointer;
                    margin-left: 5px;

                    &:hover {
                        background-image: url(../../../../../assets/help_white.svg);
                    }
                }

                .ghsi-signin-item-title-tips {
                    position: absolute;
                    z-index: 10;
                    top: 16px;

                    .ghsi-signin-item-title-tips-triangle {
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-bottom: 6px solid rgb(30, 30, 30);
                        width: 0;
                        margin-left: 60px;
                    }

                    .ghsi-signin-item-title-tips-text {
                        padding: 10px 20px;
                        background-color: rgb(30, 30, 30);
                        border-radius: 4px;

                        p {
                            color: white;
                            font-size: 12px;
                            line-height: 1.5;
                            margin: 2px 0;
                        }
                    }
                }
            }

            .ghsi-signin-item-input {
                width: calc(100% - 2px - 32px);
                border: 1px solid rgb(200, 200, 200);
                border-radius: 4px;
                height: 40px;
                background-color: rgb(100, 100, 100);
                padding: 0 16px;
                
                input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    font-size: 14px;
                    line-height: 1;
                }
            }

            .ghsi-signin-item-input-focus {
                background-color: white;
            }
        }

        .ghsi-signin-button {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            text-align: center;
            line-height: 40px;
            background-color: rgb(173, 173, 173);
            color: black;
            cursor: pointer;

            &:hover {
                background-color: white;
            }
        }

        .ghsi-signin-or {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

            .ghsi-signin-or-line {
                height: 1px;
                background-color: rgb(173, 173, 173);
                width: calc(50% - 30px);
            }

            .ghsi-signin-or-text {
                width: 60px;
                font-size: 12px;
                color: rgb(173, 173, 173);
                line-height: 1;
                text-align: center;
            }
        }
    }
}